<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"
          asp-href-include="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <script src="~/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body>
    <div class="navbar navbar-inverse bg-inverse" role="navigation">
        <a class="navbar-brand" href="#">SPORTS STORE</a>
    </div>
    <div class="row m-1 p-1">
        <div id="categories" class="col-3">
            Put something useful here later
        </div>
        <div class="col-9">
            @RenderBody()
        </div>
    </div>
 
</body>
</html>
